

header {
    display: flex;
    flex-wrap: wrap;
    flex-basis:100%;
    max-width:100%;
    
}

header h1{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-basis:100%;
    height:15vh;
    margin:0;
    border: solid thin black;
    border-radius: 5px;
    background-image: url("img/baniere.jpg");
    font-size: 4em;
}
header nav{
    display: flex;
    flex-grow:1;
    
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis:100%;
    padding:0;
    margin-top: 1.5em;
}
header nav ul li {
    display: flex;
    justify-content: center;
    border: solid black thin;
    border-radius: 0.5em;
    flex-basis:19%;
    height: 4vh;
    background-color: rgb(185, 189, 189);
}
header nav ul li:nth-child(1){
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
header nav ul li:nth-child(5){
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
header nav ul li a{
    text-decoration: none;
    font-size:1.2em;
    font-weight: bold;
    align-self:center;
    color: black
}
header nav ul li:hover a{
    font-size:1.5em;
}
header nav ul li:hover {
    font-size:0.9em;
    box-shadow: 1px 1px 10px black;

}
body{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(240, 234, 234, 0.295);
    
}

main{
    font-family:  monospace;
    
    flex-basis:65%;
}
main ul{
    padding-left:1em;
}
main li {
    display: flex;
    margin-bottom:1.5em;
    border: solid thin black;
    border-radius: 5px;
    padding:1em;
    box-shadow: 0px 0px 5px black;
    background-color: rgb(228, 220, 220);
    font-family:  monospace;
    font-size:1.3em;
}

main li:nth-child(even) div:nth-child(odd){ /*div selectionne l'image*/
    padding-left: 1em;
    flex-basis: 70%;
    margin-right:1em;
    flex-grow:1;
}
main li:nth-child(odd) div:nth-child(even){
    margin-left:1em;
    flex-basis: 70%;
    flex-grow:1;
    
}



li{
    list-style-type:none;
}
img{width:14em;}

aside{
    font-family:  monospace;
    font-size:1.3em;
    margin-top:5vh;
    flex-basis:30%;
    margin-right:0;
    border: solid thin black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    background-color: rgb(230, 220, 220);
}
aside section{
    margin:1em;
}
aside img{margin-left: .4em;position: absolute;}

footer{
    
    display:flex;
    align-items: center;
    padding:0;
    margin-top: 1em;
    flex-basis:100%;
    height:5vh;
    border: solid thin black;
    border-radius: .4em;
    background-color: rgb(148, 146, 146);

}
footer p {margin-left:1em;}
@media (max-width: 600px){
    header nav ul li:hover a{font-size:0.8em;}

    img{width:8em;}
    header nav ul li{height:5vh;}
    header nav ul li a{font-size:.6em;}

    body{justify-content: center;}

    main{
        font-size:.9em;
        flex-grow:1;
    }
    main ul li{display: block;}
    
    main ul{
        margin-left:0;
        padding-left:0;
    }
    aside{
        font-size:.9em;
        flex-basis:70%;
    }
}